/* App global tweaks */

main {
  min-height: calc(100vh - 120px);
}

.logo {
  height: 64px;
  padding: 8px;
  transition: filter 200ms ease;
}

.card {
  padding: 1.25rem;
}

.read-the-docs {
  color: #666;
}
