:root {
  /* Paleta de Cores */
  --primary-red: #b62217;    /* Vermelho vibrante */
  --primary-yellow: #ff0000; /* Amarelo característico */
  --white: #fac000;
  --bg-light: #8f0101;
  --text-dark: #333333;
  
  /* Configurações de Fonte */
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita scroll horizontal */
  
}

body {
  background-color: var(--bg-light);
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-red);
  border-radius: 5px;
}

/* Layout helpers */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0rem;
}

main {
  background: var(--bg-light);
  margin: 0;
  padding: 0;
}